/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  color: #fff; }

#sec1-landing {
  width: 100%;
  background-image: url("../images/sec1-main-photo.png");
  background-size: cover;
  background-position: center; }
  #sec1-landing .sec1-cover {
    width: inherit;
    height: inherit;
    position: relative;
    background: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9)); }
    #sec1-landing .sec1-cover nav {
      width: 100%;
      height: 6rem;
      padding: 0;
      font-family: "Montserrat", sans-serif; }
      #sec1-landing .sec1-cover nav .nav-logo {
        margin: 0 0 0 2.1rem;
        padding: 2.2rem 2.1rem 0 2.1rem;
        height: 6rem;
        display: block;
        float: left;
        font-size: 3rem;
        font-weight: 600; }
      #sec1-landing .sec1-cover nav .nav-ul {
        padding: 0;
        margin: 0 2.1rem 0 0;
        height: 6rem;
        float: right;
        list-style-type: none;
        font-size: 1.3rem; }
        #sec1-landing .sec1-cover nav .nav-ul li {
          padding: 0;
          margin: 0 3rem;
          display: inline-block;
          text-transform: uppercase;
          height: 6rem;
          box-sizing: border-box; }
          #sec1-landing .sec1-cover nav .nav-ul li a {
            width: 100%;
            height: 6rem;
            margin: 0;
            padding: 3.7rem 0 0 0;
            text-decoration: none;
            outline: none;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            box-sizing: border-box;
            transition: 0.3s; }
            #sec1-landing .sec1-cover nav .nav-ul li a:hover {
              color: #fce38a; }
              #sec1-landing .sec1-cover nav .nav-ul li a:hover p.underline {
                width: 100%; }
            #sec1-landing .sec1-cover nav .nav-ul li a i {
              font-size: 1.4rem;
              display: block;
              margin: 0;
              padding: 0; }
            #sec1-landing .sec1-cover nav .nav-ul li a p {
              margin: 0;
              padding: 0; }
            #sec1-landing .sec1-cover nav .nav-ul li a p.underline {
              display: block;
              text-align: center;
              height: 0.25rem;
              width: 0;
              background-color: #fce38a;
              transition: 0.3s;
              margin-top: 0.7rem; }
    #sec1-landing .sec1-cover .title-cont {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 13rem 0 0 0; }
      #sec1-landing .sec1-cover .title-cont p.top-title {
        margin: 0;
        padding: 0;
        font-family: "Kaushan Script", cursive;
        font-size: 7.2rem; }
      #sec1-landing .sec1-cover .title-cont p.main-title {
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 15rem;
        max-width: 80rem;
        text-align: center;
        margin: 4rem 0 0 0;
        line-height: 14rem; }
      #sec1-landing .sec1-cover .title-cont p.div-bar {
        width: 6rem;
        height: 0.3rem;
        background-color: #fff;
        margin: 4.5rem 0 0 0; }
      #sec1-landing .sec1-cover .title-cont .main-button {
        display: block;
        box-sizing: border-box;
        width: 16rem;
        height: 4rem;
        font-family: "Montserrat", sans-serif;
        font-size: 1.4rem;
        font-weight: 600;
        margin: 5rem 0 0 0;
        border: 2px solid #fff;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        text-align: center;
        padding: 1.1rem 0 0 0;
        transition: 0.3s; }
        #sec1-landing .sec1-cover .title-cont .main-button:hover {
          color: rgba(243, 129, 129, 0.9);
          background-color: #fff; }
    #sec1-landing .sec1-cover .shortcuts {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 7rem;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      #sec1-landing .sec1-cover .shortcuts .short {
        box-sizing: border-box;
        display: block;
        height: 7rem;
        width: 28rem;
        margin: 0 1.5rem;
        padding: 0;
        color: #fff;
        text-decoration: none;
        outline: none;
        font-family: "Montserrat", sans-serif; }
        #sec1-landing .sec1-cover .shortcuts .short .short-line {
          display: block;
          margin: 0;
          padding: 0;
          height: 0.3rem;
          width: 100%;
          background-color: #fff;
          opacity: 0.5; }
          #sec1-landing .sec1-cover .shortcuts .short .short-line .sl-go {
            display: block;
            margin: 0;
            height: 0.3rem;
            width: 0;
            background-color: #f38181;
            transition: 0.3s; }
        #sec1-landing .sec1-cover .shortcuts .short .sc-name {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          opacity: 0.5;
          transition: 0.3s; }
          #sec1-landing .sec1-cover .shortcuts .short .sc-name .name {
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            font-size: 1.8rem; }
            #sec1-landing .sec1-cover .shortcuts .short .sc-name .name .number {
              font-size: 2.4rem;
              font-weight: 600;
              display: inline-block;
              margin-right: 0.5rem; }
        #sec1-landing .sec1-cover .shortcuts .short:hover .short-line {
          opacity: 1; }
        #sec1-landing .sec1-cover .shortcuts .short:hover .sl-go {
          width: 100%; }
        #sec1-landing .sec1-cover .shortcuts .short:hover .sc-name {
          opacity: 1; }

#sec2-about {
  width: 100%;
  height: 30rem;
  background-color: green; }

/*# sourceMappingURL=main.css.map */
