@media screen and (max-width: 1600px){
  #sec1-landing{
    .sec1-cover{
      .title-cont{
        margin-top: 15vh;
      }
    }
  }
  #sec10-our-work{
    .projects-box{
      .pro-inner-box{
        height: 68rem;
      }
    }
  }
}
@media screen and (max-width: 1540px){
  #sec1-landing{
    .sec1-cover{
      .title-cont{
        margin-top: 10vh;
        p.main-title{
          font-size: 12rem;
          line-height: 10rem;
        }
      }
    }
  }
}
@media screen and (max-width: 1340px){
  #sec1-landing{
    .sec1-cover{
      .title-cont{
        p.main-title{
          margin-top: 3.8rem;
        }
        p.div-bar{
          margin-top: 3.8rem;
        }
        .main-button{
          margin-top: 4rem;
        }
      }
    }
  }
}
@media screen and (max-width: 1320px){
  .what-desc{
    width: 90%;
  }
  #sec2-about{
    .short-desc{
      width: 90%;
    }
  }
}
@media screen and (max-width: 1300px){
  #sec6-whatwedo{
    .service-content{
      width: 90%;
      .service-pic{
        flex-shrink: 1;
        background-position: center;
      }
      .service-dropdown{
        flex-shrink: 0;
      }
    }
  }
  #sec9-hipster-logos{
    .logos-box{
      img{
        margin: 0 2rem;
      }
    }
  }
}
@media screen and (max-width: 1260px){
  #sec1-landing{
    .sec1-cover{
      nav{
        ul.nav-ul{
          li{
            margin: 0 2rem;
          }
        }
      }
      .title-cont{
        p.top-title{
          font-size: 6.4rem;
        }
        p.main-title{
          font-size: 12rem;
          line-height: 10rem;
        }
        p.div-bar{
          margin-top: 3.8rem;
        }
        .main-button{
          margin-top: 3rem;
        }
      }
    }
  }
  #sec2-about{
    .about-photos{
      .photo-cont{
        width: 24rem;
        height: 24rem;
        .photo-item{
          background-size: cover;
        }
      }
    }
  }
  #sec3-numbers{
    //height: 22rem;
    .number-cont{
      height: 22rem;
      .number-item{
        width: 20rem;
        height: 22rem;
        .item-inside{
          margin: 5.2rem 0 0 0;
        }
      }
    }
  }
  #sec8-our-team{
    .team-photos{
      .photo-box{
        .photo-cont{
          width: 24rem;
          height: 36rem;
          .team-photo-item{
            .photo-social-box{
              width: 16rem;
              height: 4rem;
              .social-inside-box{
                .social-item{
                  width: 4rem;
                  height: 4rem;
                }
              }
            }
            &:hover{
              .photo-social-box{
                .social-inside-box{
                  .item-two{
                    left: 4rem;
                  }
                  .item-three{
                    right: 4rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  #sec7-client-ref{
    height: 33rem;
    .customers-slider-box{
      .customers-slider{
        margin-bottom: 3rem;
        ul{
          li{
            width: 80rem;
            height: 24rem;
          }
        }
      }
    }
  }
  #sec10-our-work{
    .projects-box{
      .pro-inner-box{
        height: 56rem;
        .pro-column{
          .pro-box-flylink{
            width: 26rem;
            .flylink-content{
              width: 26rem;
              .flylink-hand{
                right: 11rem;
              }
            }
          }
          .pro-cont{
            .pro-box-flylink{
              width: 26rem;
              .flylink-content{
                width: 26rem;
                .flylink-hand{
                  right: 11rem;
                }
              }
            }
            &:hover{
              .pro-box-flylink{
                .flylink-content{
                  .flylink-sub{
                    right: 5.6rem;
                  }
                  .flylink-hand{
                    top: 0;
                  }
                  .flylink2{
                    right: 0.5rem;
                  }
                  .flylink3{
                    right: 3.7rem;
                  }
                  .flylink4{
                    right: 3.4rem;
                  }
                  .flylink5{
                    right: 4.5rem;
                  }
                  .flylink6{
                    right: 5.2rem;
                  }
                  .flylink7{
                    right: 4rem;
                  }
                }
              }
            }
          }
        }
        .pro-column.pro-cont{
          &:hover{
            .pro-box-flylink{
              .flylink-content{
                .flylink1{
                  right: 6.7rem;
                }
                .flylink-sub{
                  right: 5.6rem;
                }
              }
            }
          }
        }
      }
    }
  }
  #sec11-our-ref{
    height: 33rem;
    .customers-slider-box{
      .customers-slider2{
        margin-bottom: 3rem;
        ul{
          li{
            width: 80rem;
            height: 24rem;
          }
        }
      }
    }
  }
  #sec12-happy-clients{
    background-position: center;
    .hc-cover{
      .happy-clients-box{
        .happy-clients-div{
          .happy-clients-item{
            width: 38rem;
            .hci-description{
              width: 20rem;
            }
          }
        }
      }
    }
  }
  #sec13-blog{
    .blog-box{
      .blog-box-item{
        .blog-box-photo{
          width: 24rem;
          background-position: center;
          .blog-watch{
            right: -3.5rem;
            width: 100%;
            font-size: 1.8rem;
          }
        }
        .blog-box-desc{
          width: 24rem;
        }
        .blog-box-numbers{
          width: 24rem;
        }
        .blog-box-title{
          width: 24rem;
          line-height: 2rem;
        }
      }
    }
  }
  #sec15-footer .top-footer{
    flex-wrap: wrap;
    /*width: 100%;*/
  }
  #sec15-footer{
    .bottom-footer{
      width: 100%;
    }
  }
  #sec15-footer .top-footer .top-footer-item.footer-item1{
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-bottom: 5rem;
    .footer-parag{
      width: 33rem;
    }
    .footer-item1-part2{
      margin-left: 3.7rem;
      .footer-socials-box{
        width: 32rem;
        margin-top: 4rem;
        .follow-us{
          margin-right: 1.5rem;
        }
      }
      .subscribe-cont{
        .sub-field{
          width: 20rem;
        }
        .sub-button{
          width: 11rem;
        }
      }
      .footer-follow{
        margin-top: 2.4rem;
      }
    }
  }
  #sec15-footer .top-footer .footer-items-2and3{
    width: 100%;
    justify-content: center;
  }
  #sec15-footer .top-footer .footer-items-2and3 .footer-item2{
    margin-left: 0;
  }
}
@media screen and (max-width: 1160px){
  #sec9-hipster-logos{
    .logos-box{
      img{
        margin: 0;
      }
    }
  }
}
@media screen and (max-width: 1080px){
  #sec10-our-work{
    .projects-box{
      .pro-inner-box{
        height: 48rem;
        .pro-column{
          .pro-box-flylink{
            width: 22rem;
            .flylink-content{
              .flylink-title{
                font-size: 1.8rem;
              }
              width: 22rem;
              .flylink-hand{
                right: 8.8rem;
              }
            }
          }
          .pro-cont{
            .pro-box-flylink{
              width: 22rem;
              .flylink-content{
                .flylink-title{
                  font-size: 1.8rem;
                }
                width: 22rem;
                .flylink-hand{
                  right: 8.8rem;
                }
              }
            }
            &:hover{
              .pro-box-flylink{
                .flylink-content{
                  .flylink-sub{
                    right: 3.1rem;
                  }
                  .flylink-hand{
                    top: 0;
                  }
                  .flylink2{
                    right: 0.5rem;
                  }
                  .flylink3{
                    right: 2.9rem;
                  }
                  .flylink4{
                    right: 2.8rem;
                  }
                  .flylink5{
                    right: 3.8rem;
                  }
                  .flylink6{
                    right: 4.4rem;
                  }
                  .flylink7{
                    right: 3.4rem;
                  }
                }
              }
            }
          }
        }
        .pro-column.pro-cont{
          &:hover{
            .pro-box-flylink{
              .flylink-content{
                .flylink1{
                  right: 5.7rem;
                }
                .flylink-sub{
                  right: 3.5rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1040px){
  #sec3-numbers{
    .number-cont{
      height: 20rem;
      .number-item{
        width: 18rem;
        height: 20rem;
        .item-inside{
          margin: 4.2rem 0 0 0;
          .big-num{
            font-size: 6rem;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1024px){
  #sec7-client-ref{
    height: 50rem;
    .customers-slider-box{
      .customers-slider{
        margin-bottom: 0;
        ul{
          height: 30rem;
          li{
            align-items: flex-start;
            width: 54rem;
            height: 30rem;
            .cs-message{
              height: 30rem;
            }
          }
        }
      }
    }
  }
  #sec11-our-ref{
    height: 50rem;
    .customers-slider-box{
      .customers-slider2{
        margin-bottom: 0;
        ul{
          height: 30rem;
          li{
            align-items: flex-start;
            width: 54rem;
            height: 30rem;
            .cs-message{
              height: 30rem;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 980px){
  #sec1-landing{
    .sec1-cover{
      nav{
        p.nav-logo{
          padding-top: 1rem;
        }
        height: 5rem;
        p.nav-logo{
          height: 5rem;
        }
        ul.nav-ul{
          height: 5rem;
          li{
            margin: 0 1rem;
            height: 5rem;
            a{
              padding-top: 2.4rem;
            }
          }
        }
      }
    }
  }
  #sec6-whatwedo{
    .service-content{
      .service-pic{
        display: none;
      }
      .service-dropdown{
        width: 100%;
        flex-shrink: 1;
      }
    }
  }
}
@media screen and (max-width: 940px){
  #sec3-numbers{
    height: 40rem;
    align-items: flex-start;
    .number-cont{
      flex-wrap: wrap;
      width: 72rem;
      .number-item{
        width: 24rem;
        height: 20rem;
        .item-inside{
          margin: 4.2rem 0 0 0;
          .big-num{
            font-size: 6rem;
          }
        }
      }
      .number-item.bottom-number{
        width: 36rem;
        height: 20rem;
        .item-inside.bottom-number{
          margin: 4.2rem 0 0 0;
          width: 36rem;
        }
      }
      .number-item.bottom-number.bn-left{
        border-left: 1px solid #d4e8e5;
      }
    }
  }
  #sec9-hipster-logos{
    .logos-box{
      width: 69rem;
      align-items: center;
      img{
        margin: 1rem 4rem;
      }
    }
  }
}
@media screen and (max-width: 920px){
  #sec10-our-work{
    .projects-box{
      flex-direction: column;
      .pro-inner-box{
        width: 100%;
        height: 68rem;
        .pro-column{
          .pro-box-flylink{
            width: 26rem;
            .flylink-content{
              .flylink-title{
                font-size: 1.8rem;
              }
              width: 26rem;
              .flylink-hand{
                right: 11rem;
              }
            }
          }
          .pro-cont{
            .pro-box-flylink{
              width: 26rem;
              .flylink-content{
                .flylink-title{
                  font-size: 1.8rem;
                }
                width: 26rem;
                .flylink-hand{
                  right: 11rem;
                }
              }
            }
            &:hover{
              .pro-box-flylink{
                .flylink-content{
                  .flylink-sub{
                    right: 5.6rem;
                  }
                  .flylink-hand{
                    top: 0;
                  }
                  .flylink2{
                    right: 2.9rem;
                  }
                  .flylink3{
                    right: 5.4rem;
                  }
                  .flylink4{
                    right: 5rem;
                  }
                  .flylink5{
                    right: 6rem;
                  }
                  .flylink6{
                    right: 6.4rem;
                  }
                  .flylink7{
                    right: 5.5rem;
                  }
                }
              }
            }
          }
        }
        .pro-column.pro-cont{
          &:hover{
            .pro-box-flylink{
              .flylink-content{
                .flylink1{
                  right: 7.9rem;
                }
                .flylink-sub{
                  right: 5.6rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 850px){
  #sec4-services{
    div.services-list{
      width: 50rem;
      padding-right: 0;
      .serv-item{
        width: 50rem;
      }
    }
  }
}
@media screen and (max-width: 840px){
  #sec2-about{
    .about-photos{
      flex-direction: column;
      margin-bottom: 6rem;
      .photo-cont{
        width: 38rem;
        height: 25rem;
        margin-bottom: 3rem;
        .photo-item{
          background-size: cover;
        }
      }
      .photo-cont.pc-margin{
        margin-left: 0;
      }
    }
  }
  #sec8-our-team{
    .team-photos{
      margin-bottom: 5rem;
      flex-direction: column;
      .photo-box{
        margin-bottom: 5rem;
        .photo-cont{
          width: 38rem;
          height: 47rem;
          .team-photo-item{
            .photo-social-box{
              width: 23.2rem;
              height: 5.8rem;
              .social-inside-box{
                .social-item{
                  width: 5.8rem;
                  height: 5.8rem;
                }
              }
            }
            &:hover{
              .photo-social-box{
                .social-inside-box{
                  .item-two{
                    left: 5.8rem;
                  }
                  .item-three{
                    right: 5.8rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  #sec12-happy-clients{
    background-position: center;
    .hc-cover{
      .happy-clients-box{
        flex-direction: column;
        align-items: center;
        margin-bottom: 7.8rem;
        .happy-clients-div{
          margin-bottom: 0;
          .happy-clients-item{
            width: 56rem;
            .hci-description{
              width: 38rem;
            }
          }
        }
      }
    }
  }
  #sec13-blog{
    .blog-box{
      flex-direction: column;
      align-items: center;
      .blog-box-item{
        .blog-box-photo{
          width: 38rem;
          background-position: center;
          .blog-watch{
            right: 9rem;
            width: 20.6rem;
            font-size: 2.2rem;
          }
        }
        .blog-box-desc{
          width: 38rem;
        }
        .blog-box-numbers{
          width: 38rem;
        }
        .blog-box-title{
          width: 38rem;
          line-height: 1.6rem;
        }
      }
    }
  }
}
@media screen and (max-width: 768px){
  #scroll-back-button.scroll-back-flex{
    display: flex;
  }
  #sec1-landing{
    .sec1-cover{
      #scroll-down{
        display: block;
      }
      nav{
        p.nav-logo{
          margin-left: 0;
          padding-left: 1rem;
        }
        ul.nav-ul{
          display: none;
        }
        .hamburger-icon{
          display:block;
        }
      }
      .shortcuts{
        display: none;
      }
      .title-cont{
        margin-top: 18vh;
        p.main-title{
          font-size: 10rem;
          line-height: 9rem;
          width: 55rem;
        }
      }
    }
  }
  #sec3-numbers{
    .number-cont{
      width: 54rem;
      .number-item{
        width: 18rem;
      }
      .number-item.bottom-number{
        width: 27rem;
        .item-inside.bottom-number{
          width: 27rem;
        }
      }
    }
  }
  #sec5-design{
    background-size: cover;
    height: 75rem;
    .devices-photo{
      .tablet-cont{
        top: 0;
        left: -22.1rem;
        img{
          width: 50rem;
        }
      }
      .mobile-cont{
        top: 19.8rem;
        left: 9.6rem;
        img{
          width: 24rem;
        }
      }
    }
  }
  #sec7-client-ref{
    height: 50rem;
    .customers-slider-box{
      .move-slider{
        margin: 0 2.8rem;
      }
      .customers-slider{
        margin-bottom: 0;
        ul{
          height: 30rem;
          li{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 38rem;
            height: 38rem;
            .cs-message-icon{
              width: 12rem;
              height: 12rem;
              margin-bottom: 2rem;
            }
            .cs-message{
              height: 23rem;
              width: 38rem;
              margin: 0;
              .quoute{
                font-size: 2rem;
              }
            }
          }
        }
      }
    }
  }
  #sec11-our-ref{
    height: 50rem;
    .customers-slider-box{
      .move-slider{
        margin: 0 2.8rem;
      }
      .customers-slider2{
        margin-bottom: 0;
        ul{
          height: 30rem;
          li{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 38rem;
            height: 38rem;
            .cs-message-photo{
              width: 12rem;
              height: 12rem;
              margin-bottom: 2rem;
            }
            .cs-message{
              height: 23rem;
              width: 38rem;
              margin: 0;
              .quoute{
                font-size: 2rem;
              }
            }
          }
        }
      }
    }
  }
  #sec15-footer{
    .top-footer {
      width: 100%;
      justify-content: center;
      .top-footer-item.footer-item1{
        flex-direction: column;
        align-items: center;
        width: 90%;
        .footer-item1-part1{
          .footer-parag{
            width: 100%;
          }
        }
        .footer-item1-part2{
          margin: 0;
          width: 100%;
          .footer-follow{
            margin-top: 3rem;
          }
          .footer-socials-box{
            width: 100%;
          }
          .subscribe-cont{
            margin-top: 0.1rem;
          }
        }
      }
      .footer-items-2and3{
        justify-content: space-between;
        width: 90%;
        .footer-item3{
          margin: 0 0 0 1rem;
        }
      }
    }
  }
}
@media screen and (max-width: 720px){
  #sec9-hipster-logos{
    .logos-box{
      width: 45rem;
      align-items: center;
      img{
        margin: 1rem 0rem;
      }
    }
  }
}
@media screen and (max-width: 715px){
  #sec15-footer{
    .top-footer{
      .footer-items-2and3{
        .footer-item2{
          .blog-item{
            /*width: 100%;*/
            .blog-item-desc{
              margin-top: 0;
              height: 100%;
              justify-content: center;
              p.bid-top{
                width: 100%;
                padding-right: 1rem;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 660px){
  #sec10-our-work{
    .projects-box{
      .pro-inner-box{
        height: 56rem;
      }
    }
  }
  #sec15-footer{
    .top-footer{
      .footer-items-2and3{
        flex-direction: column;
        .footer-item2{
          margin-bottom: 5rem;
        }
        .footer-item3{
          align-items: center;
        }
      }
    }
  }
}
@media screen and (max-width: 600px){
  #sec1-landing{
    .sec1-cover{
      .title-cont{
        p.top-title{
          font-size: 5rem;
        }
        p.main-title{
          font-size: 7rem;
          line-height: 7rem;
          width: 40rem;
          margin-top: 2rem;
        }
      }
    }
  }
}
@media screen and (max-width: 580px){
  #sec3-numbers{
    height: 32rem;
    .number-cont{
      width: 42rem;
      height: 32rem;
      .number-item{
        width: 14rem;
        height: 16rem;
        .item-inside{
          margin: 2.8rem 0 0 0;
          .big-num{
            font-size: 5rem;
          }
        }
      }
      .number-item.bottom-number{
        width: 21rem;
        height: 16rem;
        .item-inside.bottom-number{
          margin: 2.8rem 0 0 0;
          width: 21rem;
          height: 16rem;
        }
      }
    }
  }
  #sec12-happy-clients{
    background-position: center;
    .hc-cover{
      .happy-clients-box{
        .happy-clients-div{
          .happy-clients-item{
            width: 91%;
            .hci-photo{
              margin-left: 0;
            }
            .hci-description{
              width: 100%;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 560px){
  #sec4-services{
    div.services-list{
      width: 90%;
      .serv-item{
        padding: 3.6rem 0;
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 540px){
  #sec5-design{
    background-size: cover;
    height: 64rem;
    .devices-photo{
      .tablet-cont{
        top: 0;
        left: -17.1rem;
        img{
          width: 40rem;
        }
      }
      .mobile-cont{
        top: 15.8rem;
        left: 7.6rem;
        img{
          width: 19rem;
        }
      }
    }
  }
  #sec7-client-ref{
    .customers-slider-box{
      .move-slider{
        margin: 0 2rem;
      }
      .customers-slider{
        margin-bottom: 0;
        ul{
          height: 30rem;
          li{
            width: 26rem;
            height: 38rem;
            .cs-message{
              height: 27rem;
              width: 26rem;
              margin: 0;
              box-sizing: border-box;
              padding: 0 1rem;
              .quoute{
                font-size: 2rem;
                line-height: 2.4rem;
              }
            }
          }
        }
      }
    }
  }
  #sec10-our-work{
    .projects-box{
      .pro-inner-box{
        height: 48rem;
        .pro-column{
          .pro-box-flylink{
            width: 22rem;
            .flylink-content{
              .flylink-title{
                font-size: 1.8rem;
              }
              width: 22rem;
              .flylink-hand{
                right: 8.8rem;
              }
            }
          }
          .pro-cont{
            .pro-box-flylink{
              width: 22rem;
              .flylink-content{
                .flylink-title{
                  font-size: 1.8rem;
                }
                width: 22rem;
                .flylink-hand{
                  right: 8.8rem;
                }
              }
            }
            &:hover{
              .pro-box-flylink{
                .flylink-content{
                  .flylink-sub{
                    right: 3.1rem;
                  }
                  .flylink-hand{
                    top: 0;
                  }
                  .flylink2{
                    right: 0.5rem;
                  }
                  .flylink3{
                    right: 2.9rem;
                  }
                  .flylink4{
                    right: 2.4rem;
                  }
                  .flylink5{
                    right: 3.4rem;
                  }
                  .flylink6{
                    right: 3.9rem;
                  }
                  .flylink7{
                    right: 3.1rem;
                  }
                }
              }
            }
          }
        }
        .pro-column.pro-cont{
          &:hover{
            .pro-box-flylink{
              .flylink-content{
                .flylink1{
                  right: 5.7rem;
                }
                .flylink-sub{
                  right: 3.5rem;
                }
              }
            }
          }
        }
      }
    }
  }
  #sec11-our-ref{
    .customers-slider-box{
      .move-slider{
        margin: 0 2rem;
      }
      .customers-slider2{
        margin-bottom: 0;
        ul{
          height: 30rem;
          li{
            width: 26rem;
            height: 38rem;
            .cs-message{
              height: 27rem;
              width: 26rem;
              margin: 0;
              box-sizing: border-box;
              padding: 0 1rem;
              .quoute{
                font-size: 2rem;
                line-height: 2.4rem;
              }
            }
          }
        }
      }
    }
  }
  #sec15-footer{
    div.bottom-footer{
      p{
        font-size: 1.2rem;
      }
    }
  }
}
@media screen and (max-width: 480px){
  #sec9-hipster-logos{
    .logos-box{
      width: 30rem;
      align-items: center;
      img{
        margin: 0;
      }
    }
  }
  #sec10-our-work{
    .projects-box{
      .pro-inner-box{
        flex-direction: column;
        height: 92rem;
        .pro-column{
          width: 100%;
          .pro-box-flylink{
            width: 26rem;
            .flylink-content{
              width: 26rem;
              .flylink-hand{
                right: 11rem;
              }
            }
          }
          .pro-cont{
            .pro-box-flylink{
              width: 26rem;
              .flylink-content{
                width: 26rem;
                .flylink-hand{
                  right: 11rem;
                }
              }
            }
            &:hover{
              .pro-box-flylink{
                .flylink-content{
                  .flylink-sub{
                    right: 5.6rem;
                  }
                  .flylink-hand{
                    top: 0;
                  }
                  .flylink2{
                    right: 2.6rem;
                  }
                  .flylink3{
                    right: 5.3rem;
                  }
                  .flylink4{
                    right: 5rem;
                  }
                  .flylink5{
                    right: 5.8rem;
                  }
                  .flylink6{
                    right: 6.4rem;
                  }
                  .flylink7{
                    right: 5.6rem;
                  }
                }
              }
            }
          }
        }
        .pro-column.pro-cont{
          &:hover{
            .pro-box-flylink{
              .flylink-content{
                .flylink1{
                  right: 7.8rem;
                }
                .flylink-sub{
                  right: 5.6rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 450px){
  #sec2-about{
    .about-photos{
      .photo-cont{
        width: 24rem;
        height: 24rem;
      }
    }
  }
  #sec3-numbers{
    height: 70rem;
    .number-cont{
      width: 100%;
      height: 70rem;
      .number-item{
        width: 100%;
        height: 14rem;
        border: none;
        border-bottom: 1px solid #d4e8e5;
        .item-inside{
          width: 100%;
          margin: 1rem 0 0 0;
          .big-num{
            font-size: 7rem;
          }
        }
      }
      .number-item.bottom-number{
        width: 100%;
        height: 14rem;
        .item-inside.bottom-number{
          margin: 1rem 0 0 0;
          width: 100%;
          height: 14rem;
        }
      }
    }
  }
  #sec8-our-team{
    .team-photos{
      .photo-box{
        .photo-cont{
          width: 24rem;
          height: 36rem;
          .team-photo-item{
            .photo-social-box{
              width: 16rem;
              height: 4rem;
              .social-inside-box{
                .social-item{
                  width: 4rem;
                  height: 4rem;
                }
              }
            }
            &:hover{
              .photo-social-box{
                .social-inside-box{
                  .item-two{
                    left: 4rem;
                  }
                  .item-three{
                    right: 4rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  #sec13-blog{
    .blog-box{
      .blog-box-item{
        .blog-box-photo{
          width: 24rem;
          background-position: center;
          .blog-watch{
            right: -3.5rem;
            width: 100%;
            font-size: 1.8rem;
          }
        }
        .blog-box-desc{
          width: 24rem;
        }
        .blog-box-numbers{
          width: 24rem;
        }
        .blog-box-title{
          width: 24rem;
          line-height: 2rem;
        }
      }
    }
  }
  #sec15-footer{
    div.bottom-footer{
      p{
        width: 25rem;
        line-height: 1.5rem;
      }
    }
  }
}
@media screen and (max-width: 420px){
  #sec1-landing{
    .sec1-cover{
      .title-cont{
        margin-top: 20vh;
        p.top-title{
          font-size: 3rem;
        }
        p.main-title{
          font-size: 5rem;
          line-height: 5rem;
          margin-top: 1rem;
          width: 28rem;
        }
      }
    }
  }
  #sec5-design{
    background-size: cover;
    height: 52rem;
    .devices-photo{
      .tablet-cont{
        top: 2rem;
        left: -10.1rem;
        img{
          width: 27rem;
        }
      }
      .mobile-cont{
        top: 12.8rem;
        left: 6.8rem;
        img{
          width: 13rem;
        }
      }
    }
  }
}
@media screen and (max-width: 400px){
  #sec7-client-ref{
    .customers-slider-box{
      .customers-slider{
        ul{
          li{
            width: 20rem;
            height: 40rem;
            .cs-message-icon{
              width: 10rem;
              height: 10rem;
            }
            .cs-message{
              height: 27rem;
              width: 22rem;
              .quoute{
                font-size: 1.9rem;
                line-height: 2.4rem;
              }
            }
          }
        }
      }
    }
  }
  #sec11-our-ref{
    .customers-slider-box{
      .customers-slider2{
        ul{
          li{
            width: 20rem;
            height: 40rem;
            .cs-message-photo{
              width: 10rem;
              height: 10rem;
            }
            .cs-message{
              height: 27rem;
              width: 22rem;
              .quoute{
                font-size: 1.9rem;
                line-height: 2.4rem;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 380px){
  #sec14-map{
    height: 15rem;
  }
  #sec15-footer{
    .top-footer{
      .top-footer-item.footer-item1{
        .footer-item1-part2{
          .footer-socials-box{
            a{
              img.social-logo{
                margin: 0.1rem 0.7rem 0 0.6rem;
              }
            }
          }
          .subscribe-cont{
            .sub-field{
              width: 17rem;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 355px){
  .main-title{
    font-size: 2.7rem;
  }
  #sec5-design{
    .sec-5-cover{
      .main-title{
        font-size: 2.7rem;
      }
    }
  }
  #sec4-services{
    .main-title{
        font-size: 2.7rem;
    }
  }
}
