html{
  font-size: 62.5%;
}
body{
  @include zero;
  color: #fff;
}
#sec1-landing{
  width: 100%;
  // background-image: url('../images/sec1-main-photo.png');
  // background-attachment: fixed;
  // background-size: cover;
  // background-position: center;
  background: transparent;
  .sec1-cover{
    @include parentSize;
    position: relative;
    background: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
    nav{
      width: 100%;
      height: $navH;
      padding: 0;
      font-family: $mont;
      .nav-logo{
        margin: 0 0 0 2.1rem;
        padding: 2.2rem 2.1rem 0 2.1rem;
        height: $navH;
        display: block;
        float: left;
        font-size: 3rem;
        font-weight: 600;
      }
      .nav-ul{
        padding: 0;
        margin: 0 2.1rem 0 0;
        height: $navH;
        float: right;
        list-style-type: none;
        font-size: 1.3rem;
        li{
          padding: 0;
          margin: 0 3rem;
          display: inline-block;
          text-transform: uppercase;
          height: $navH;
          box-sizing: border-box;
          a{
            width: 100%;
            height: $navH;
            margin: 0;
            padding: 3.7rem 0 0 0;
            text-decoration: none;
            outline: none;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            box-sizing: border-box;
            transition: 0.3s;
            &:hover{
              color: $mogoyellow;
              p.underline{
                width: 100%;
              }
            }
            i{
              font-size: 1.4rem;
              display: block;
              @include zero;
            }
            p{
              margin: 0;
              padding: 0;
            }
            p.underline{
              display: block;
              text-align: center;
              height: 0.3rem;
              width: 0;
              background-color: $mogoyellow;
              transition: 0.3s;
              margin-top: 0.7rem;
            }
          }
        }
      }
    }
    .title-cont{
      @include dircol;
      margin: 13rem 0 0 0;
      p.top-title{
        margin: 0;
        padding: 0;
        font-family: $kaushan;
        font-size: 7.2rem;
      }
      p.main-title{
        text-transform: uppercase;
        font-family: $mont;
        font-weight: 700;
        font-size: 15rem;
        max-width: 80rem;
        text-align: center;
        margin: 4rem 0 0 0;
        line-height: 14rem;
      }
      p.div-bar{
        width: 6rem;
        height: 0.3rem;
        background-color: #fff;
        margin: 4.5rem 0 0 0;
      }
      .main-button{
        display: block;
        box-sizing: border-box;
        width: 16rem;
        height: 4rem;
        font-family: $mont;
        font-size: 1.4rem;
        font-weight: 600;
        margin: 5rem 0 0 0;
        border: 2px solid #fff;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        text-align: center;
        padding: 1.1rem 0 0 0;
        transition: 0.3s;
        &:hover{
          color: rgba(243, 129, 129, 0.9);
          background-color: #fff;
          // -moz-text-fill-color: transparent;
          // -moz-background-clip: text;
          // -webkit-text-fill-color: transparent;
          // -webkit-background-clip: text;
        }
      }
    }
    .shortcuts{
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 7rem;
      // background-color: black;
      display: flex;
      flex-direction: row;
      justify-content: center;
      .short{
        box-sizing: border-box;
        display: block;
        height: 7rem;
        width: 28rem;
        margin: 0 1.5rem;
        padding: 0;
        color: #fff;
        text-decoration: none;
        outline: none;
        font-family: $mont;
        .short-line{
          display: block;
          @include zero;
          height: 0.3rem;
          width: 100%;
          background-color: #fff;
          opacity: 0.5;
          .sl-go{
            display: block;
            margin: 0;
            height: 0.3rem;
            width: 0;
            background-color: $mogopink;
            transition: 0.3s;
          }
        }
        .sc-name{
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          opacity: 0.5;
          transition: 0.3s;
          .name{
            @include zero;
            text-transform: uppercase;
            font-size: 1.8rem;
            .number{
              font-size: 2.4rem;
              font-weight: 600;
              display: inline-block;
              margin-right: 0.5rem;
            }
          }

        }
        &:hover{
          .short-line{
            opacity: 1;
          }
          .sl-go{
            width: 100%;
          }
          .sc-name{
            opacity: 1;
          }
        }
      }
    }
  }
}
#sec2-about {
  width: 100%;
  min-height: 75.3rem;
  background-color: #fff;
  @include dircol;
  color: #000;
  .top-title{
    font-family: $kaushan;
    font-size: $toptitle;
    margin: 9.4rem 0 0 0;
  }
  .main-title{
    font-family: $mont;
    text-transform: uppercase;
    font-size: $maintitle;
    font-weight: 700;
    margin: 1.8rem 0 3.7rem 0;
  }
  .short-desc{
    font-family: $roboto;
    color: $mogogray;
    font-size: $shortdesc;
    max-width: 100rem;
    text-align: center;
    line-height: 2.4rem;
    margin: 4.2rem 0 0 0;
  }
  .about-photos{
    display: flex;
    flex-direction: row;
    margin: 9.7rem 0 0 0;
    .photo-cont{
      width: 38rem;
      height: 25rem;
      background-color: $mogoblue;
      position: relative;

      .photo-item{
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        outline: none;
        text-decoration: none;
        color: #fff;
        transition: 0.2s;
        overflow: hidden;
        .photo-cover{
          width: 100%;
          height: 100%;
          background: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
          opacity: 0;
          transition: 0.2s;
          position: relative;
          display: flex;
          overflow: hidden;
        }
        .story-logo{
          position: absolute;
          z-index: 999;
          transition: 0.4s;
          margin: auto;
          left: auto;
          right: auto;
          bottom: -20rem;
          width: 100%;
          text-align: center;
          @include dircol;
          opacity: 1;
          color: #fff;
          .fa-rocket{
            font-size: 5rem;
          }
          .fa-tablet{
            font-size: 5rem;
          }
          .fa-bullhorn{
            font-size: 5rem;
          }
          .story{
            font-family: $mont;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 2rem;
          }
        }
        &:hover{
          -ms-transform: translate(-1rem,-1rem);
          transform: translate(-1rem,-1rem);
          .photo-cover{
            opacity: 0.9;
          }
          .story-logo{
            bottom: 9rem;
            opacity: 1;
          }
        }
      }
      .item1{
        background-image: url('../images/sec2-photo1-cut.png');
      }
      .item2{
        background-image: url('../images/sec2-photo2-cut.png');
      }
      .item3{
        background-image: url('../images/sec2-photo3-cut.png');
      }
    }
    .pc-margin{
      margin-left: 3rem;
    }
  }
}
#sec3-numbers{
  width: 100%;
  height: 27rem;
  background-color: $mogoblue;
  display: flex;
  align-items: center;
  .number-cont{
    padding: 0;
    margin: 0 auto;
    height: 27rem;

    display: flex;
    flex-direction: row;
    .number-item{
      display: flex;
      height: 27rem;
      margin: 0;
      width: 24rem;
      border-right: 1px solid #d4e8e5;
      &:first-child{
        border-left: 1px solid #d4e8e5;
      }
      .item-inside{
        margin: 7.6rem auto;
        width: 22rem;
        padding-top: 0.4rem;
        display: flex;
        @include dircol;
        font-family: $mont;
        color: #fff;
        .big-num{
          font-size: 7rem;
          font-weight: 600;
        }
        .inside-desc{
          text-transform: uppercase;
          font-size: 1.4rem;
          font-weight: 500;
          margin: 1.8rem;
        }
      }
    }
  }
}
#sec4-services{
  width: 100%;
  min-height: 40rem;
  @include dircol;
  color: #000;
  .top-title{
    font-family: $kaushan;
    font-size: $toptitle;
    margin: 9.4rem 0 0 0;
  }
  .main-title{
    font-family: $mont;
    text-transform: uppercase;
    font-size: $maintitle;
    font-weight: 700;
    margin: 1.8rem 0 3.7rem 0;
  }
  .services-list{
    max-width: 120rem;
    min-height: 18rem;
    margin: 0 auto 5rem auto;
    padding-right: 1rem;
    display: flex;
    flex-wrap: wrap;
    // background-color: green;
    .serv-item{
      width: 40rem;
      padding: 5rem 0;
      min-height: 6rem;
      color: #000;
      display: flex;
      flex-direction: row;
      a{
        width: 100%;
        height: 100%;
        @include zero;
        text-decoration: none;
        display: flex;
        flex-direction: row;
      }
      .serv-icon{
        margin-top: 0.2rem;
        position: relative;
        .serv-img{
          display: block;
          transition: 0.8s;
          position: relative;
          z-index: 40;
          top: 0;
          right: 0;
        }
        .serv-hover{
          display: block;
          transition: 0.8s;
          position: absolute;
          z-index: 50;
          top: 0;
          right: 0;
          transition: 0.5s;
          opacity: 0;
        }
      }
      .serv-desc{
        margin-left: 3rem;
        .sd-title{
          text-transform: uppercase;
          font-family: $mont;
          font-size: 1.4rem;
          font-weight: 500;
          color: #000;
          position: relative;
          p{
            margin: 0 0 1.5rem 0;
          }
        }
        .sd-sub{
          font-family: $roboto;
          color: $mogogray;
          padding-right: 3rem;
          font-size: 1.4rem;
          line-height: 2.4rem;
        }
      }
      .serv-link:hover .serv-hover{
        opacity: 1;
      }

    }
  }
  #item-photo{
    border-bottom: 1px solid #c4c4c4;
  }
  #item-web{
    border-bottom: 1px solid #c4c4c4;
  }
  #item-creative{
    border-bottom: 1px solid #c4c4c4;
  }
  #item-doc{
    border-bottom: none;
  }
  #item-home{
    border-bottom: none;
  }
  #item-team{
    border-bottom: none;
  }
  @media screen and (max-width: 1260px){
    div > #item-doc{
    border-bottom: 1px solid #c4c4c4;
    }
    .services-list{
      width: 80rem;
    }
  }
  @media screen and (max-width: 850px){
    div > #item-home{
    border-bottom: 1px solid #c4c4c4;
    }
    .services-list{
      width: 40rem;
    }
  }
}




#sec5-design{
  width: 100%;
  height: 83rem;
  background-color: #000;
  background-image: url('../images/sec5-background.png');
  background-position: center right;
  background-size: 160%;
  position: relative;
  .sec-5-cover{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    position: relative;
    display: flex;
    color: #000;
    flex-direction: column;
    align-items: center;
    .top-title{
      font-family: $kaushan;
      font-size: $toptitle;
      margin: 9.4rem 0 0 0;
    }
    .main-title{
      font-family: $mont;
      text-transform: uppercase;
      font-size: $maintitle;
      font-weight: 700;
      margin: 1.8rem 0 3.7rem 0;
    }
    .tablet-cont{
      position: absolute;
      top: 21rem;
      z-index: 80;
    }
    .mobile-cont{
      position: absolute;
      top: 44rem;
      z-index: 90;
      padding-left: 52rem;
    }
  }
}


#sec6-whatwedo{
  width: 100%;
  min-height: 40rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  .top-title{
    font-family: $kaushan;
    font-size: $toptitle;
    margin: 9.4rem 0 0 0;
  }
  .main-title{
    font-family: $mont;
    text-transform: uppercase;
    font-size: $maintitle;
    font-weight: 700;
    margin: 1.8rem 0 3.7rem 0;
  }
  .what-desc{
    margin: 4rem 0 7rem 0;
    width: 120rem;
    font-family: $roboto;
    color: $mogogray;
    font-size: $shortdesc;
    line-height: 2.4rem;
    text-align: center;
  }
  .service-content{
    display: flex;
    flex-direction: row;
    margin-bottom: 10rem;
    .service-pic{
      width: 60rem;
      margin: 1.6rem;
      height: 38rem;
      background-image: url('../images/sec6-image-cut.png');
      background-size: cover;
      background-repeat: no-repeat;
    }
    .service-dropdown{
      width: 60rem;
      height: 38rem;
      background-color: #000;
      margin: 1.6rem;
      #sd-photography{
        height: 24rem;
        margin-bottom: 1rem;
      }
      #sd-creativity{
        height: 6rem;
        margin-bottom: 1rem;
      }
      #sd-web-design{
        height: 6rem;
      }
      .sd-dropcont{
        width: 100%;
        overflow: hidden;
        background-color: green;
        .sd-header{
          width: 100%;
          height: 6rem;
          background-color: red;
          display: flex;
          flex-direction: row;
          position: relative;
          .sd-logo{
            width: 6rem;
            height: 6rem;
            display: flex;
            img{
              margin: auto;
              display: block;
            }
          }
          .sd-header-title{
            font-family: $mont;
            display: flex;
            align-items: center;
            p{
              margin: 0;
              text-transform: uppercase;
              font-size: 1.4rem;
            }
          }
          .sd-arrow{
            width: 6rem;
            height: 6rem;
            display: flex;
            position: absolute;
            right: 0;
            background-color: #000;
            &:hover{
              cursor: pointer;
            }
          }
          #arrow-photography{
            background-image: url('../images/sec6-arrow-up.png');
            background-repeat: no-repeat;
            background-position: center;
          }
          #arrow-creativity{
            background-image: url('../images/sec6-arrow-down.png');
            background-repeat: no-repeat;
            background-position: center;
          }
          #arrow-web-design{
            background-image: url('../images/sec6-arrow-down.png');
            background-repeat: no-repeat;
            background-position: center;
          }
        }
        .sd-description{
          width: 100%;
          height: 30rem;
          background-color: blue;
        }
      }
    }
  }
}

#sec7-client-ref{
  width: 100%;
  height: 40rem;
  background-color: green;
}
