//base colors//
$mogopink: #f38181;
$mogoyellow: #fce38a;
$mogosky: #eaffd0;
$mogoblue: #95e1d3;
$mogogray: #999999;
//section colors//
$sec7bg: #f8f8f8;
//fonts//
$kaushan: 'Kaushan Script', cursive;
$mont: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;

//sizez//
$navH: 6.2rem;
$toptitle: 2.4rem;
$maintitle: 3rem;
$shortdesc: 1.4rem;
