//base colors//
$mogopink: #f38181;
$mogoyellow: #fce38a;
$mogosky: #eaffd0;
$mogoblue: #95e1d3;
//section colors//
$sec7bg: #f8f8f8;
//fonts//
$kaushan: 'Kaushan Script', cursive;
$mont: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;

$navH: 6rem;
